<div class="card">
  <div class="card-body">
    <input
      class="form-control form-control-sm"
      [value]="filter().name"
      (input)="updateFilter('name', $event)"
      placeholder="Filter by name"
    />

    <select class="form-select form-select-sm" (input)="updateFilter('status', $event)">
      <option *ngFor="let status of characterStatus" [value]="status.code">
        {{ status.name }}
      </option>
    </select>

    <input
      class="form-control form-control-sm"
      (input)="updateFilter('status', $event)"
      placeholder="Filter by species"
    />

    <button class="btn btn-primary btn-sm" (click)="loadCharacters(true)">
      apply
    </button>

    <button class="btn btn-primary btn-sm" (click)="clearFilters()">
      Clear Filters
    </button>
    <span class="total-registers">{{ totalResults().current }} of {{ totalResults().total }}</span>
  </div>
</div>

<div class="card">
  <div class="card-body">
    <app-character-list
      (loadMore)="loadMore()"
      [currentPage]="currentPage()"
      [characters]="characters()"
      (isSorting)="sortBy($event)"
      [endOfList]="endOfList()"
    ></app-character-list>
  </div>
</div>
